@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Outfit&family=Red+Hat+Display:wght@600;700;900&family=Sacramento&display=swap');

/* root targets the highest level parent, in this case the HTML element and is used to apply styling throughout the page*/
/* have created variables using -- before colour names from style guide */
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

/* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--desaturated-blue);
}

button {
  font-family: inherit; /* inherit takes the styling from the parent element, in this case the body*/
}

.bg__image {
  background: url("images/pattern-background-desktop.svg") no-repeat center/cover;
  height: 400px;
}

/* the first "btn" in the class name allows this styling to affect all buttons */
.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

/* the second part of the button class name allows the code to target specific buttons */
.btn-change {
  background-color: transparent;
  color: var(--bright-blue);
  text-decoration: underline;
}

.btn-primary {
  background-color: var(--bright-blue);
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  width: 350px;
  height: 40px;
  box-shadow: 15px 15px 15px var(--pale-blue);
}

/* Apply the opacity for the hover state to multiple buttons at once */
.btn-primary:hover,
.btn-change:hover {
  opacity: 0.8; /* opacity makes an image transparent, 0.0 - 1 determine the degree of transparency */
}

.btn-secondary {
  background-color: transparent;
  color: var(--desaturated-blue);
  margin-bottom: 20px;
}

.btn-secondary:hover {
  color: var(--dark-blue);
}

.container h1 {
  color: var(--dark-blue);
  margin: 30px 0 15px 0;
}

.container p.desc {
  padding: 0 30px;
}

.container .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* target the container and the image within that container that has the class "hero" */
.container {
  background-color: white;
  margin: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px var(--desaturated-blue);
  width: 425px;
}

.container img.hero {
  width: 100%;
  border-radius: 15px 15px 0 0;
}


.container .pricing {
  margin: 30px auto;
  background-color: var(--very-pale-blue);
  width: 90%;
  height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}


.container .pricing article {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container .pricing article img {
  margin-right: 20px;
  padding-left: 20px;
}
